@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@keyframes animate-opacity {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

* {
    box-sizing: border-box;
    caret-color: transparent;
}

body {
    margin: 0;
    height: 100%;
    background-color: rgb(32, 39, 46);
    background-image: linear-gradient(to bottom right, rgb(32, 39, 46), rgb(19, 23, 27));
    overflow-x: hidden;
}

.content {
    display: inline-block;
}

.home-container {
    transform: translateY(0%);
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100vw;
    height: 35vw;
    background-image: linear-gradient(to top right, rgb(39, 48, 57), rgb(99, 120, 143));
}

.slide-up {
    animation-name: slide-up;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

.photo-container {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: flex-end;
}

.photo {
    width: 30vw;
    height: 30vw;
    max-height: 2000px;
    max-width: 2000px;
    opacity: 0;
    animation-name: animate-opacity;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

.intro-text-container {
    width: 30vw;
    display: flex;
    place-items: center;
}

.intro-text {
    font-size: 6vw;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.69);
    opacity: 0;
    animation-name: animate-opacity;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    margin-bottom: 1vw;
}

.intro-text__dev {
    font-size: 3vw;
    margin-top: 0;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 300;
    color: rgb(255, 138, 29);
    text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.621);
    opacity: 0;
    animation-name: animate-opacity;
    animation-delay: 3s;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}

/* SKILLS */

.skills {
    transform: translateY(0%);
    animation-name: slide-up-skills;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

.skills-title {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
}

.skills-title__text {
    opacity: 0;
    font-size: 4vw;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: rgb(219, 219, 219);
    font-weight: 400;
    margin-left: 5vw;
    animation-name: animate-opacity;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.portfolio-soon {
    opacity: 0;
    font-size: 2vw;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(219, 219, 219);
    font-weight: 400;
    margin-right: 5vw;
    animation-name: animate-opacity;
    animation-duration: 4s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}

.skills-title__text {
    opacity: 0;
    font-size: 4vw;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: rgb(219, 219, 219);
    font-weight: 400;
    margin-left: 5vw;
    animation-name: animate-opacity;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.skills-items {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: space-around;
    flex-wrap: wrap;
    margin-bottom: 3vw;
}

.icon-container {
    width: 20vw;
    height: 12vw;
    opacity: 0;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    place-items: center;
    animation-name: animate-opacity;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.image-html {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 300px;
    width: 8vw;
    height: 8vw;
}

.image-css {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 300px;
    width: 5.5vw;
    height: 8vw;
}

.image-javascript {
    margin-left: auto;
    margin-right: auto;
    max-width: 260px;
    max-height: 260px;
    width: 8vw;
    height: 8vw;
}

.image-react {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 300px;
    width: 8vw;
    height: 8vw;
}

.image-redux {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 300px;
    width: 8vw;
    height: 8vw;
}

.image-bem {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 300px;
    width: 8vw;
    height: 8vw;
}

.image-sass {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 300px;
    width: 8vw;
    height: 8vw;
}

.image-git {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 300px;
    width: 8vw;
    height: 8vw;
}

.image-java {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 300px;
    width: 6vw;
    height: 10vw;
}

.image-csharp {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 300px;
    width: 8vw;
    height: 8vw;
}

.image-figma {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 300px;
    width: 6vw;
    height: 8vw;
}

.image-ps {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 300px;
    width: 8vw;
    height: 8vw;
}

/* PORTFOLIO */

.portfolio {
    min-width: 100vw;
    background: linear-gradient(rgb(51, 61, 72), rgb(39, 48, 57));
    position: absolute;
    z-index: -3;
}

.portfolio-title {

}

.portfolio-title__text {
    font-size: 4vw;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: rgb(219, 219, 219);
    font-weight: 400;
    margin-left: 5vw;
}

.card-container {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}


/* CARD */

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

:root {
    --clr-1: rgba(255, 123, 0, 0);
    --clr-2: rgba(255, 123, 0, 0.058);
    --clr-3: rgb(255, 123, 0, 0.464);
    --clr-4: rgba(255, 123, 0, 0.638);
    --clr-5: rgba(255, 123, 0, 0.838);
    --clr-6: rgba(255, 123, 0, 0.938);
    --clr-7: rgba(255, 123, 0, 1);
    --clr-8: rgb(255, 202, 152);
}

.project-card {
    width: 45vw;
    aspect-ratio: 1 / 0.7;
    background-color: rgb(18, 19, 21);
    position: relative;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
    display: grid;
    flex-direction: column;
    place-content: center;
}

.project-card:hover {
    cursor: pointer;
}

.project-card::before,
.project-card::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -2px;
    background: repeating-conic-gradient(from var(--gradient-angle),
            var(--clr-1),
            var(--clr-2),
            var(--clr-3),
            var(--clr-4),
            var(--clr-5),
            var(--clr-6),
            var(--clr-7),
            var(--clr-8) 50%);
    border-radius: inherit;
    animation: rotation 6s linear infinite;
    opacity: 0;
}

.project-card:hover::before,
.project-card:hover::after {
    opacity: 1;
}


@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }

    100% {
        --gradient-angle: 360deg;
    }
}

.project-card::after {
    filter: blur(1.5rem);
}

.project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-title {
    font-size: 2vw;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: rgb(219, 219, 219);
    font-weight: 300;
}

.project-image {
    margin-left: auto;
    margin-right: auto;
}

.project-image__dimension {
    width: 40vw;
    aspect-ratio: 16 / 9;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.project-tool__container {
    background: linear-gradient(90deg, rgba(242,78,30,1) 20%, rgba(255,114,98,1) 40%, rgba(162,89,255,1) 60%, rgb(9, 157, 215) 80%, rgb(0, 222, 137) 100%);
    display: flex;
    place-items: center;
    height: 2vw;
    width: 4vw;
    place-self: center;
    border-radius: 7vw;
}

.project-tool__figma {
    border-radius: 3rem;
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
    color: rgb(219, 219, 219);
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.69);
}